<div id="main-content" ng-app="migraineTriggers">
  <h2 id="page-title"><a href="/projects/2">MIGRAINE TRIGGER SEARCH<i class="fa fa-angle-double-left" aria-hidden="true"></i></a></h2>
  <div ng-controller="triggersController">
    <input class="search-box" type="text" placeholder="Is it a migraine trigger? start typing to search >>" ng-model="search">
    <ul>
      <li ng-repeat="trigger in triggers | orderBy: 'name' | filter: search">{{trigger.name}}<br><span class="grey"></span></li>
    </ul>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script type="text/javascript" src="/js/migraine-triggers.js"></script
