body {
  background-image: url("/images/background.jpg");
  background-size: 100%;
}

div#floating {
  border: solid white 5px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  width: 400px;
  margin: auto;
  margin-top: 40px;
  padding: 15px;
  color: white;
}

h1#title { 
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3em;
  padding: 0px;
  margin: 10px;
  text-shadow: 0px 0px 10px black;
}

span.bold {
  font-weight: 700;
}

h3#sub-title {
  padding: 0px;
  margin: 10px;
  font-weight: 300;
  font-style: italic;
  font-size: 2em;
  text-shadow: 0px 0px 10px black;
}

button#enter {
  /*background-color: white;*/
  color: white;
  border: solid white 2px;
  /*border-radius: 2px;*/
  padding: 1em;
  margin: 1em;
  font-size: 1em;
  background: none;
  text-shadow: 0px 0px 10px black;
}

button#enter:hover {
  color: grey;
  background-color: white;
  text-shadow: none;
  /*box-shadow: 0px 0px 10px black;*/
}

a.icon {
  color: white;
  padding: 5px;
}

i.fa:hover {
  text-shadow: 0px 0px 10px black;
}