body {
  background-image: url("/images/background.jpg");
  background-size: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

div#floating {
  border: solid white 5px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  width: 400px;
  margin: auto;
  margin-top: 40px;
  padding: 15px;
  color: white;
}

h1#title { 
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3em;
  padding: 0px;
  margin: 10px;
  text-shadow: 0px 0px 10px black;
}

span.bold {
  font-weight: 200;
}

h3#sub-title {
  padding: 0px;
  margin: 10px;
  font-weight: 200;
  font-style: italic;
  font-size: 2em;
  text-shadow: 0px 0px 10px black;
}

span#line {
  border-top: solid white 3px;
  padding-top: 10px;
}

button#enter {
  /*background-color: white;*/
  color: white;
  border: solid white 2px;
  /*border-radius: 2px;*/
  padding: 1em;
  margin: 1em;
  font-size: 1em;
  background: none;
  text-shadow: 0px 0px 10px black;
}

button#enter:hover {
  color: grey;
  background-color: white;
  text-shadow: none;
  /*box-shadow: 0px 0px 10px black;*/
}

a.icon {
  color: white;
  padding: 5px;
}

i.fa:hover {
  text-shadow: 0px 0px 10px black;
}

div#navigation {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  margin: 20px 10px 10px 20px;
}

div#navigation h1 {
  letter-spacing: .15em;
  margin: 0px;
}

div#navigation > * {
  display: inline-block;
}

div#links .int-link {
  text-decoration: none;
  color: white;
}

div#links a:hover {
  text-shadow: 0px 0px 10px black;
  text-decoration: underline;
}

div#main-content {
  /*border: solid black 5px;*/
  background-color: white;
  width: 90%;
  margin: auto;
  margin-bottom: -999px;
  padding: 15px;
}
h2#page-title {
  font-weight: 200;
  font-size: 2em;
  border-bottom: solid black 2px;
  letter-spacing: .15em;
  padding-left: 3%
}

h2#page-title a {
  text-decoration: none;
  color: inherit;
}

ul#projects {
  /*width: 100%;*/
  margin: auto;
}

ul#projects li {
  display: inline-block;
  width: 40%;
  padding: 30px;
  margin: 2%;
  text-align: center;
  border: solid black 3px;
  letter-spacing: .15em;
}

ul#projects li a {
  text-decoration: none;
  color: inherit;
}

ul#projects li a:hover {
  text-decoration: underline;
} 

ul#projects li:hover {
  color: white;
  border: solid #3a3937 3px;
  background-color: #3a3937;
}

span.proj-title {
  font-weight: 600;
  font-size: 1.25em;
}

.col-2 {
  width: 45%;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 10px;
}

#proj-links div {
  width: 99%;
  border: solid black 3px;
  text-align: center;
  padding: .5em 0 .5em 0;
  margin-bottom: 1em;
}

#proj-links div a {
  text-decoration: none;
  color: inherit;
}

#proj-links div a:hover {
  text-decoration: underline;
}

#proj-links div:hover {
  color: white;
  border: solid #3a3937 3px;
  background-color: #3a3937;
}

h3#proj-title {
  margin: 0px;
  letter-spacing: .15em;
}

h4#proj-date {
  margin: 0px 0px 1em 0px;
  font-weight: 200;
  border-bottom: solid black 1px;
}

img.proj-image {
  max-width: 100%; 
}

.nav-link-button {
  background: transparent;
  color: white;
  border: none;
}

.straight-borders {
  border-radius: none;
}