<div id="main-content">
  <h2 id="page-title">PROJECTS</h2>
  <ul id="projects">
    <% all_projects.each do |project| %>
      <li>
        <div class="name-date col-2">
          <a class="proj-link int-link" href="projects/<%= project.id %>"><span class="proj-title"><%= project.name%></span><br><%= project.date %> <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></a>
        </div>
        <div class="short-info col-2">
          <%= project.short_info %>
        </div>
      </li>
    <% end %>
  </ul>
</div>