<div id="main-content">
  <h2 id="page-title">ABOUT</h2>
  <div id="line-1">
    <a class="about-link" href="/pdf/Molly_FitzHarris_Resume.pdf">Résumé (link to pdf)</a> / 

    <a class="about-link" href="maito:molly.fitzharris@gmail.com">Email: molly.fitzharris[at]gmail.com </a><br>
  </div>
  <div id="line-2"> 
    <a class="about-link" href="https://github.com/mfitzharris">Github @mfitzharris</a> / 

    <a class="about-link" href="https://www.linkedin.com/in/molly-fitzharris">LinkedIn</a> / 

    <a class="about-link" href="https://twitter.com/mollyifitz">Twitter @mollyifitz</a>
  </div>
  
  <h3 class="about-header">My Background</h3>
  <p>
    The thing that I value most in life is learning and being constantly challenged. Most nights (any moment of free time really) find me running through coding tutorials to learn new languages/frameworks or techniques/approaches in ones I am not already familiar.
  </p>
  <p>
    Even prior to the wonderful onslaught of learning that was DBC/my foray into the world of code, a quest constant learning was my default state. Before DBC, I spent most of my free time, after work, plugging away at 3D Sketchup models. Using a trial and error process, I endeavored to bring to life worlds that previously only existed in my head.
  </p>
  <p>
    It is this same alchemical creating-life-from-nothing process that so quickly endeared me to coding. It is an extremely exciting feeling to witness the backend and frontend of an application coming together to create a singular output. 
  </p>

</div>