<div id="main-content">
  <h2 id="page-title">ABOUT</h2>
  <div id="line-1">
    <a class="about-link" href="/pdf/Molly_FitzHarris_Resume.pdf">Résumé (link to pdf)</a> / 

    <a class="about-link" href="maito:molly.fitzharris@gmail.com">Email: molly.fitzharris[at]gmail.com </a><br>
  </div>
  <div id="line-2"> 
    <a class="about-link" href="https://github.com/mfitzharris">Github @mfitzharris</a> / 

    <a class="about-link" href="https://www.linkedin.com/in/molly-fitzharris">LinkedIn</a> / 

    <a class="about-link" href="https://twitter.com/mollyifitz">Twitter @mollyifitz</a>
  </div>
  
  <h3 class="about-header">my background</h3>
  <p>
    The thing that I value most in life is learning and being constantly challenged. Most nights (any moment of free time really) find me running through coding tutorials to learn new languages/frameworks or techniques/approaches in ones with which I am already familiar.
  </p>
  <p>
    Even prior to the wonderful onslaught of learning that was DBC/my foray into the world of code, a quest constant learning was my default state. Before DBC, I spent most of my free time, after work, plugging away at 3D Sketchup models. Using a trial and error process, I endeavored to bring to life worlds that previously only existed in my head.
  </p>
  <p>
    It is this same alchemical creating-life-from-nothing process that so quickly endeared me to coding. It is an extremely exciting feeling to witness the backend and frontend of an application coming together to create a singular output. 
  </p>

  <h3 class="about-header">my skills & interests </h3>
  <div class="col-2">
    <p class="mini-header">PROGRAMMING:</p>
    <p>
      <span class="pas-bold">Ruby:</span> Rails & Sinatra
    </p>
    <p>
      <span class="pas-bold">HTML5 & CSS3</span>
    </p>
    <p>
      <span class="pas-bold">JavaScript:</span> jQuery/Ajax and Angular
    </p>
    <p>
      <span class="pas-bold">Databases:</span> SQL(posgreSQL, SQLite, ActiveRecord, SQLAlchemy)
    </p> 
    <p>
      <span class="pas-bold">Python:</span> Flask, SciKit-Learn
    </p>
    <p>
      <span class="pas-bold">Object Oriented Design</span>
    </p> 
    <p>
      <span class="pas-bold">Test Driven Development:</span> RSpec, Jasmine
    </p>

    <p class="mini-header">SOFTWARE:</p>
    <p>
      <span class="pas-bold">Photoshop:</span> CS6
    </p>
    <p>
      <span class="pas-bold">Sketchup:</span> 8, 2016, and 2017. 
    </p>
    <p>
      <span class="pas-bold">Adobe Acrobat:</span> for running word recognition and pagination
    </p>
    <p>
      <span class="pas-bold">MailChimp</span>
    </p>
    <p>
      <span class="pas-bold">QuickBooks:</span> expenses and payroll
    </p>
    <p>
      <span class="pas-bold">Basecamp</span>
    </p>

  </div> 
  
  <div class="col-2">
    <p class="mini-header">INTERESTS:</p>

    <p>
      <span class="pas-bold">Accessibility:</span>
    </p>
    <p>
      <span class="pas-bold">3D Modeling & World building</span>
    </p>
    <p>
      <span class="pas-bold">Planning & Stationary</span>
    </p>
    <p>
      <span class="pas-bold">Architecture & The Decorative Arts:</span>
    </p>
  </div> 

  <h3 class="about-header">Site Credits</h3>
  <a href="/about/site">Here</a>
  

</div>