<div id="main-content">
  <div id="about">
    <h4>About Me:</h4>
    <p>I am passionate about making people's lives better through the tools and processes they use.</p>
    <p>My studies in Art History have always been geared towards two things: 1) the things that people create to make their lives better and 2) the ability to tell stories through art. My transition into web development has strengthened these interests. I am excited by the challenge to make other people’s lives better through the tools and processes they use on the web.</p>
  </div>
</div>