<!DOCTYPE html>
<html lang="en">
<head>
  
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">

  <script src="https://use.fontawesome.com/19d6629d36.js"></script>

  <script src="/js/jquery.js"></script>
  <script src="/js/application.js"></script>

  <title>Molly FitzHarris</title>
</head>
<body>

  <div id="navigation">
    <h1 id="title">Molly<br> FitzHarris</h1>
    <div id="links">
      <a class="int-link" href="/about">ABOUT</a> |
      <a class="int-link" href="/projects">PROJECTS</a> 
      <a class="icon" title="github" href="https://github.com/mfitzharris"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
      <a class="icon" title="linkedin" href="https://www.linkedin.com/in/molly-fitzharris"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
      <a class="icon" title="twitter" href="https://twitter.com/mollyifitz"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
      <a class="icon" title="email" href="mailto:molly.fitzharris@gmail.com"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i></a>
    </div>
  </div>

  <div id="content-wrapper">
    <%= yield %>
  </div>

</body>

</html>
